[Unit]
Description=My Daemon

[Service]
ExecStart=/bin/bash /home/watch/ikiriDS-watch/run.sh
#ExecStop=/bin/kill ${MAINPID}
Restart=always
Type=simple
User=watch
TimeoutSec=300
WorkingDirectory=/home/watch/ikiriDS-watch
#Group=watch
EnvironmentFile=/etc/secret

[Install]
WantedBy=multi-user.target
